#content > .component {
  padding: 1em;
}

#content > .component.app {
}
#content > .component.app > select + h3 {
  margin-top: 1em;
}
#content > .component.app > webview {
}
#content > .component.app > webview,
#content > .component.app > webview > iframe {
  margin-top: 1em;
  width: 100%;
  height: 800px;
}
